.footer_outer_div{
    background-color: #000066;
}
.logo_grid_footer{
    padding: 2rem;
}
.tab_footer{
    color: white;
    font-size: 24px !important;
    font-weight: 600 !important;
    margin-top: 25px !important;
    text-align: start;
    
}
.tab_grid_footer{
    padding: 2rem;
}
.lower_grid_footer{
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}
.icon_grid_footer{
    text-align: start;
    margin-top: 5rem;
}
.header_contact_button{
    margin-top: 14px !important;
                width: 20% !important;
                height: 24% !important;
                color: white !important;
                display: block !important;
                text-transform: capitalize !important;
                font-weight: 600 !important;
                background: #7F00FF !important;
                font-size: 20px !important;
                border-radius: 10px !important;
}
@media  screen and (max-width: 1280px) {
           
}