.footer_outer_div{
    background-color: #000066;
}
.logo_grid_footer{
    padding: 2rem;
}
.lan_change_hover_select{
    padding: 5px !important; 
    color: white !important; 
    font-weight: 600  !important;
    background-color: #000066 !important;
   border: none !important;
}

.lan_change_hover{
    font-size: 20px !important;
     color: #7F00FF !important;
    background-color: aliceblue;
}
.lan_change_hover:hover {
    background-color: #f0f0f0 !important; /* Change background color on hover */
    color: #333; /* Change text color on hover */
  }

 
.tab_footer{
    color: white;
    font-size: 18px !important;
    font-weight: 400 !important;
    margin-top: 25px !important;
    text-align: start;
    
}
.tab_footer1{
    color: white;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-top: 25px !important;
    text-align: start;
    
}
.tab_grid_footer{
    padding: 2rem;
}
.lower_grid_footer{
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}
.icon_grid_footer{
    text-align: start;
    margin-top: 5rem;
}
.header_contact_button{
    margin-top: 18px !important;
                width: 18% !important;
                height: 20% !important;
                color: white !important;
                display: block !important;
                text-transform: capitalize !important;
                font-weight: 600 !important;
                background: #7F00FF !important;
                font-size: 16px !important;
                border-radius: 8px !important;
}
.top_nav{
    background-color: #7F00FF;
    padding: 1rem;

}
.top_nav_inner_text_button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top_nav_inner_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_top_nav{
    font-size: 16px !important;
    color: white !important;
    font-weight: 600 !important;
}
.text_top_nav_button{
   
    width: 16% !important;
    height: 26% !important;
    color: #7F00FF !important;
    display: block !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    background: white !important;
    font-size: 16px !important;
    border-radius: 9px !important;
}
@media  screen and (max-width: 600px) {
    .icon_grid_footer{
        text-align: center;
        margin-top: 5rem;
    }
    .text_top_nav_button{
   
        width: 50% !important;
        height: 26% !important;
        color: #7F00FF !important;
        display: block !important;
        text-transform: capitalize !important;
        font-weight: 600 !important;
        background: white !important;
        font-size: 16px !important;
        border-radius: 9px !important;
    } 
    .text_top_nav{
        font-size: 9px !important;
        color: white !important;
        font-weight: 600 !important;
    }
}
@media  screen and (max-width: 415px) {
    .lower_grid_footer{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
    }
    .text_top_nav_button{
   
        width: 100% !important;
        height: 26% !important;
        color: #7F00FF !important;
        display: block !important;
        text-transform: capitalize !important;
        font-weight: 600 !important;
        background: white !important;
        font-size: 16px !important;
        border-radius: 9px !important;
    } 
    .text_top_nav{
        font-size: 9px !important;
        color: white !important;
        font-weight: 600 !important;
    }
}