body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-international-phone-input-container .react-international-phone-input{
  width: 20rem;
  height: 2.5rem  !important;
}
.react-international-phone-country-selector-button{
  height: 2.5rem !important;
}
.MuiInputBase-root-MuiInput-root::before{
  border-bottom:"0px" !important;
}
.option-hover {
  background-color: #bb07ed; /* Set your desired hover background color */
}

